/*General Styling*/

* {
  box-sizing: border-box;
}
html {
  font-family: Montserrat;
  color: blueviolet;
  font-size: 16px;
}
body {
  margin: 0 auto;
}

/*Specific Styling*/

h1 {
  color: snow;
  font-size: 1rem;
}
.list {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: snow;
  top: 1.7rem;
  left: 1.5rem;
  transition: 0.2s;
}
.list:hover {
  transform: scale(1.2);
}
.sheet-head {
  margin-bottom: 0;
}
.sub-heading {
  margin-top: 3px;
  grid-row: 2;
}

h3 {
  margin: 1.5rem;
}
.sub-heading,
h3 {
  color: darkslategray;
}
body {
  background-color: grey;
}
.container {
  width: 390px;
  height: 846px;
  background-color: white;
  position: relative;
  left: 40%;
  margin: 0;
  display: grid;
  grid-template-rows: 10% 30% 60%;
}
.main-header {
  background-color: blueviolet;
}
.box-head {
  position: absolute;
  left: 4rem;
  top: 1.5rem;
}
.student-wrap,
.may-class {
  margin: 1.5rem;
}
.student-wrap {
  width: 100%;
  position: relative;
  grid-row: 2;
  display: grid;
  margin: 0;
  padding: 1.5rem;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: ;
}
.searchbar {
  position: absolute;
  width: 100%;
  height: 36px;
  border: 1px solid blueviolet;
  grid-column: 1 / 3;
  grid-row: 3;
}
#classes {
  position: absolute;
  width: 182px;
  height: 36px;
  border: 1px solid blueviolet;
  grid-column: 1;
  grid-row: 4;
}
#times {
  position: absolute;
  width: 131px;
  height: 36px;
  border: 1px solid blueviolet;
  grid-column: 2;
  grid-row: 4;
}
.mayclass {
  position: absolute;
  grid-row: 3;
  display: flex;
  flex-direction: row;
}
.student {
  position: relative;
  width: 100%;
  height: 45px;
  border: 1px solid blueviolet;
}
