/*General Styling*/

* {
  box-sizing: border-box;
}
html {
  font-family: Montserrat;

  font-size: 16px;
  --theme-color: #6a1cc3;
  --accent-color: snow;
  color: var(--theme-color);
}
body {
  margin: 0 auto;
}

/*Specific Styling*/

h1 {
  color: var(--accent-color);
  font-size: 1rem;
}
.list {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: var(--accent-color);
  top: 1.7rem;
  left: 1.5rem;

  transition: 0.2s;
}

.sheet-head {
  margin-bottom: 0;
}
.sub-heading {
  margin-top: 3px;
  grid-row: 2;
  font-weight: bold;
}

.sub-heading,
h3 {
  color: darkslategray;
}
body {
  background-color: grey;
}
.container {
  width: 390px;
  height: 846px;
  background-color: var(--accent-color);
  position: absolute;
  left: 40%;
  margin: 0;
  display: grid;
  grid-template-rows: 10% 30% 60%;
  box-shadow: 5px 10px var(--theme-color);
}
.main-header {
  background-color: var(--theme-color);
}
.box-head {
  position: absolute;
  left: 4rem;
  top: 1.5rem;
}
.student-wrap,
.may-class {
  margin: 1.5rem;
}
.student-wrap {
  width: 100%;
  position: relative;
  grid-row: 2;
  display: grid;
  margin: 0;
  padding: 1.5rem;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.searchbar {
  top: 7rem;
  position: absolute;
  width: 86.2%;
  height: 36px;
  border: 2px solid var(--theme-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  outline: none;
}
select {
  outline: none;
}
#classes {
  position: absolute;
  width: 182px;
  height: 36px;
  border: 2px solid var(--theme-color);
  grid-column: 1;
  grid-row: 4;
}
#times {
  position: absolute;
  width: 131px;
  height: 36px;
  border: 2px solid var(--theme-color);
  grid-column: 2;
  grid-row: 4;
}
.may-class {
  width: 100%;
  position: absolute;
  _display: flex;
  left: 1.5rem;
  margin: 0;
  grid-row: 3;
}
.student {
  border: 2px solid var(--theme-color);
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  height: 4rem;
  padding-left: 6rem;
  transition: 0.2s;
  font-weight: bold;
  box-shadow: 1px 2px var(--theme-color);
}
.student-links {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 5.3rem;
  width: 88%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#student1:hover {
  box-shadow: 2px 4px var(--theme-color);
  transform: scale(1.01);
}
#student2:hover {
  box-shadow: 2px 4px var(--theme-color);
  transform: scale(1.01);
}
#student3:hover {
  box-shadow: 2px 4px var(--theme-color);
  transform: scale(1.01);
}
#student4:hover {
  box-shadow: 2px 4px var(--theme-color);
  transform: scale(1.01);
}
.dropdown {
  font-family: Montserrat;
  color: var(--theme-color);
  font-weight: bold;
  text-align: center;
}
.options {
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
}
.glass {
  position: absolute;
  background-color: var(--accent-color);
  color: var(--theme-color);
  transform: scale(1.5);
  border: none;
  right: 2.5rem;
  top: 7.6rem;
  transition: 0.1s;
}
.glass:hover {
  transform: scale(1.1);
}
.pictures {
  position: absolute;

  border: 1px solid black;
  display: flex;
  flex-flow: column;
  left: 1rem;
  top: 1.5rem;
  gap: 3rem;
  border: hidden;
}
.pic {
  height: 3rem;
  box-shadow: 1px 2px var(--theme-color);
  pointer-events: none;
  transition: 0.2s;
}
.student:hover pic {
  transform: scale(1.1);
}
.search-wrapper {
  grid-column: 1 / 3;
  grid-row: 3;
}
.navilist {
  position: absolute;
  border: none;
  color: transparent;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  top: 1.7rem;
  left: 1.5rem;
}

.navi-options {
  background-color: var(--accent-color);
  color: var(--theme-color);
}

/* not working, whyyyyyyyyyyyyyyyyy

.navilist:hover + .list {
  transform: scale(1.3);
}
*/
